.container{

    margin-top:20px;

}

.card{

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.15);

}

img{

    margin:20px 0;

}

button{

    background:#1976d2;

    color:white;

    border:none;

    padding:10px 20px;

    cursor:pointer;

    border-radius:5px;

}

button:hover{

    background:#0d47a1;

}

input{

    margin-top:15px;

    width:300px;

    padding:10px;

    font-size:16px;

}

h2{

    color:#1976d2;

}